[user]
        email = ibnikolaev@lirex.com
        name = Nikolaev
        password = H6sDf4w1
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[http]
        sslCert = /usr/local/share/ca-certificates/inikolaev_combo.pem
[credential]
	helper = cache
